body{
    background-color: rgb;
}
h1{
    text-align: center;
    padding-top: 20px;
    color: blue;
}
h4{
    color: blue;
    text-align: center;
}
#new{
    width: 275px;
    height: 200px;
    background-color: rgb(0,200,100);opacity:0.6;;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 75px;
    text-align: center;
}


#new h1{
    color: black;opacity: 0.5;;
    font-size: 100px;
    padding-top: 42px;
}